</script>
<div id="app-container" ng-controller="GameController">

  <!--  Navigation  -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="#"><img src="img/cfhlogo.png" alt=""></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li ng-show="game.state === 'awaiting players'"><a id="dashboard" href="#!/playerDashboard" ng-click="goToDashBoard()">Dashboard</a></li>
          <li><a id="startTour" href="javascript:void(0)">Tour</a></li>
          <li><a href="https://twitter.com/intent/tweet?ref_src=twsrc%5Etfw&related=CFH_App&text=Cards%20for%20Humanity%3A%20A%20Game%20for%20Horrible%20People%20Desperately%20Trying%20to%20do%20Good&tw_p=tweetbutton&url=http%3A%2F%2Fcfh.io">Tweet</a></li>
          <li><a id="abandon-game" href="#" ng-click="abandonGame()">Abandon Game</a></li>
          <li><a target="_blank" href="https://www.crowdrise.com/fundraise-and-volunteer/donate-mobile/project/cfhio/cards4humanity?widget=true&redirect_to=http%3A%2F%2Flocalhost%3A5000%2F%23!%2F&stylesheet=&amounts=" class="btn-donate">Donate</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="game-load section" id="gameplay-container">
    <div class="container">
      <div class="row">

        <div class="col-md-2" id="player-section">
            <player></player>
        </div>

        <div class="col-md-10">

          <div id="upper-gameplay-container" class="top-bar row">

            <div class="col-md-3">
              <div id="menu-timeremaining-container" class="timer">
                <div id="menu-container">
                  <span id="menu-button"></span>
                </div>
                <div id="timer-container">
                  <timer></timer>
                </div>
              </div>
            </div>

            <div class="col-md-9">
              <div id="question-container-outer" class="question">
                <question></question>
              </div>
            </div>

          </div>

          <answers></answers>
        </div>

      </div>
    </div>
  </section>

  <!--  ChatBox  -->
<div class="chatbox">
  <div class="chat-header">
    <h3><i class="fa fa-circle" id="chatNotification"></i> ChatBox</h3>
    <fa class="fa-chevron-down fa" id="closeChat"></fa>
    <fa class="fa-chevron-up fa" id="openChat"></fa>
  </div>
  <div class="chat-content" id="chatContent">
    <div id="chatInner" chatbox>
      <div class="chat-begin">This is the beginning of the game session chat</div>
    </div>
  </div>
    <div class="input-field emoji-picker-container">
      <input type="text" class="form-control" id="chatInput" placeholder="Type a message">
    </div>
  <div class="text-right send-message">
     <button class="btn-donate" ng-click="sendChatMessage()">Send</button>
  </div>
</div>

</div>

<!--  Footer  -->
<footer>
  <div class="container text-center">
    <p>
      Legal stuff: This game is based on the <a class="orange-text" href="#">Cards Against Humanity</a> card game, which is CC licensed (BY-NC-SA). Cards for Humanity is not affiliated with Cards Against Humanity. In complying with the Creative Commons license of the Cards Against Humanity card game, all proceeds from donations go directly to charity, as managed by crowdrise.
    </p>
    <p class="github-foot">
      <img src="img/github.png" alt="github"> <a href="#">Privacy Policy</a>
    </p>
  </div>
</footer>
