<div ng-if="playerGameLog.length === 0">You have no games</div>
<div class="gamelog-div" ng-repeat="game in playerGameLog">
    <p>Game Rounds: {{game.gameRounds}}</p>
    <p>Game State: {{game.gameEndTime}}<p>
    <p>Date: {{game.date}}</p>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Player Name</th>
      <th>Winner</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat= "player in game.gamePlayers track by $index">
      <td scope="row">{{$index + 1}}</td>
      <td >{{player}}</td>
      <td><i ng-if="player === game.gameWinner" class="fa fa-check"></i></td>
    </tr>
  </tbody>
</table>
</div>
<div class= "logPager" align-right> 
<nav aria-label="...">
  <ul class="pagination pagination-lg">
    <li class="page-item enabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
</div>   
