</script>
<div id="app-container" ng-controller="GameController">

  <!--  Navigation  -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="#"><img src="img/cfhlogo.png" alt=""></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a id="" href="/play">Gaming Screen</a></li>
          <li><a id="startTour" href="javascript:void(0)">Tour</a></li>
          <li><a href="https://twitter.com/intent/tweet?ref_src=twsrc%5Etfw&related=CFH_App&text=Cards%20for%20Humanity%3A%20A%20Game%20for%20Horrible%20People%20Desperately%20Trying%20to%20do%20Good&tw_p=tweetbutton&url=http%3A%2F%2Fcfh.io">Tweet</a></li>
          <li><a id="abandon-game" href="#" ng-click="abandonGame()">Abandon Game</a></li>
          <li><a target="_blank" href="https://www.crowdrise.com/fundraise-and-volunteer/donate-mobile/project/cfhio/cards4humanity?widget=true&redirect_to=http%3A%2F%2Flocalhost%3A5000%2F%23!%2F&stylesheet=&amounts=" class="btn-donate">Donate</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container">
    <div class= "tabs">
  <h3 style="margin-bottom: 20px;"><i class="fa fa-dashboard"></i> My Dashboard</h3>
  <hr>
  <ul class="nav nav-tabs">
    <li class ="active"><a href="javascript:void(0)#Game" data-toggle= "tab"><i class="fa fa-history" aria-hidden="true"></i>&nbsp; Game Log</a></li>
    <li><a href="javascript:void(0)#Leaderboard" data-toggle= "tab"><i class="fa fa-trophy" aria-hidden="true"></i>&nbsp; Leaderboard</a></li>
    <li><a href= "javascript:void(0)#Donations" data-toggle= "tab"><i class="fa fa-heart" aria-hidden="true"></i>&nbsp; Donations</a></li>
  </ul>
  <br>
</div>
<div class="tab-content">
  <div class="tab-pane" id="Game" game-log>
  </div>
  <div class="tab-pane" id="Leaderboard">
    <p></p>
    <table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Player Name</th>
      <th>Score</th>
    </tr>
  </thead>
     <tbody leaderboard>
     </tbody>
     </table>
  </div>
  <div class="tab-pane" id="Donations">
  <div class="alert alert-warning" role="alert" donations>
     </div>
  </div>
</div>
  </div>

  <!--  Footer  -->
<footer>
  <div class="container text-center">
    <p>
      Legal stuff: This game is based on the <a class="orange-text" href="#">Cards Against Humanity</a> card game, which is CC licensed (BY-NC-SA). Cards for Humanity is not affiliated with Cards Against Humanity. In complying with the Creative Commons license of the Cards Against Humanity card game, all proceeds from donations go directly to charity, as managed by crowdrise.
    </p>
    <p class="github-foot">
      <img src="img/github.png" alt="github"> <a href="#">Privacy Policy</a>
    </p>
  </div>
</footer>