<div id="main-bod" class="coverup" ng-controller="IndexController">

  <!-- Fixed Logo & Menu Bar Start -->
  <nav class="navbar navbar-default navbar-fixed-top signheader">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="img/cfhlogo.png" alt=""></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a id="scroll-to-home" href="/">Home</a></li>
          <li><a href="https://www.crowdrise.com/fundraise-and-volunteer/donate-mobile/project/cfhio/cards4humanity?widget=true&redirect_to=http%3A%2F%2Flocalhost%3A5000%2F%23!%2F&stylesheet=&amounts=" class="btn-donate">Donate</a></li>
        </ul>
      </div>
    </div>
  </nav>
<!-- Fixed Logo & Menu Bar End -->

<!-- Landing Start -->
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-xs-2"></div>
        <div class="col-md-4 col-xs-8 groupform">
          <div class="text-center text-danger">{{ signupErrMsg }}</div>
          <form class="form-horizontal">
          <fieldset>
            <div class="control-group inputspace">
              <div class="controls">
                <input type="text" ng-model="name" placeholder="Name" class="form-control input-lg" required novalidate>
              </div>
            </div>
         
            <div class="control-group inputspace">
              <div class="controls ">
                <input type="email" ng-model="email" placeholder="Email" class="form-control input-lg" required novalidate>
              </div>
            </div>
         
            <div class="control-group inputspace">
              <div class="controls">
                <input type="password" ng-model="password" placeholder="Password" class="form-control input-lg" required novalidate>
              </div>
            </div>
            
            <p class="avatar-choice">Please select an avatar</p>  

            <div class="row">
              <div class="col-xs-3 col-sm-3 col-md-2 img-thumbnail" ng-repeat="avatar in avatars">
                <img ng-src="{{avatar}}" class="img-responsive">
                <input name="avatar" type='radio' value="{{$index}}" required/>
              </div>
            </div>

            <div class="control-group inputspace">
              <div class="controls">
                <button ng-click="signup()" class="btn btn-primary btn-block signup-button"><i class="fa fa-user"></i>  Sign Up</button>
              </div>
            </div>
          </fieldset>
        </form>

        <div>
          <div>
            <div>
              <p class="social-text">Or Sign Up with</p>
            </div>
          </div>
          <div class="social-buttons">
            <div class="col-xs-3 col-sm-3 col-md-3">
              <a href="/auth/facebook" class="btn btn-lg btn-social-icon btn-facebook">
                <span class="fa fa-facebook"></span>
              </a>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
              <a href="/auth/twitter" class="btn btn-lg btn-social-icon btn-twitter">
                <span class="fa fa-twitter"></span>
              </a>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
              <a href="/auth/google" class="btn btn-lg btn-social-icon btn-google">
                <span class="fa fa-google"></span>
              </a>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
              <a href="/auth/github" class="btn btn-lg btn-social-icon btn-github">
                <span class="fa fa-github"></span>
              </a>
            </div>
          </div>
        </div>

        </div>
        <div class="col-md-4 col-xs-2"></div>
      </div>
    </div>

      <footer id="signfooter">
        <div class="container text-center">
          <p>
            Legal stuff: This game is based on the <a class="orange-text" href="http://cardsagainsthumanity.com">Cards Against Humanity</a> card game, which is CC licensed (BY-NC-SA). Cards for Humanity is not affiliated with Cards Against Humanity. In complying with the Creative Commons license of the Cards Against Humanity card game, all proceeds from donations go directly to charity, as managed by <a href="http://crowdrise.com">crowdrise</a>.
          </p>
          <p class="github-foot">
            <a href="https://github.com/cardsforhumanity/cardsforhumanity"><img src="img/github.png" alt="github"></a> <a href="/#!/privacy">Privacy Policy</a>
          </p>
        </div>
      </footer>
    </div>
