div.modal {
    color: #333;
}

.modal-header {
    min-height: 16.428571429px;
    padding: 15px !important;
    background: #3E7293 !important;
    border-bottom: 1px solid #e5e5e5 !important;
    color: #fff;
}

.modal-header .close {
    margin-top: -2px;
    color: white !important;
}

.modal-footer {
    padding: 19px 20px 20px;
    margin-top: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    background: #3E7293 !important;
}

.btn-block {
    border: none !important;
}

.table-striped {
    color: #333 !important;
    text-align: left !important;
    margin-top: 10px;
}
.table-striped tr th {
    color: #F4781F !important;
}

.alert-info {
    margin-top: 10px;
    text-align: center !important;
}

#start-game-button {
    cursor: pointer !important;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: none;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .3) inset;
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    background: #F4781F;
}

#start-game-button:hover, #start-game-button:active, #start-game-button:focus {
    outline: none !important;
    opacity:.8;
    filter:alpha(opacity=80);
    border: none !important;
}

.btn-primary {
    color: #ffffff;
    background-color: rgba(62,114,147, 1);
    border-color: none !important;
    border: none !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    color: #ffffff;
    filter: opacity(0.5);
    border-color: none !important;
    border: none !important;
    outline: none !important;
    background: #F4781F;
}


.btn {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    outline: none !important;
    position: relative;
    overflow: hidden !important; 
    cursor: pointer;
    font-size: 14px !important;
 }

 .btn:hover, .btn:focus {
     outline: none !important;
     border: none !important;
 }

.btn:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5) !important;
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%) !important;
  transform-origin: 50% 50% !important;
}
@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.btn:focus:not(:active)::after {
  animation: ripple 1s ease-out !important;
}




.card-face {
  width: 200px;
  height: 220px;
  margin-left: 40%;
  position: relative;
  perspective: 800px;
}
#flip-card {
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s, background 0s 0.3s, right 2s ease 1s, opacity 2s ease-out 2s;
  right: 12px;
  top: 12px;
  z-index: 12;
}
#flip-card.slide {
  background: black;
  transform: rotateY( 180deg );
}
.cards-group {
  bottom: 0px;
}
.card-load {
  background-image:url('../img/b_load.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  position: absolute;
  opacity: 1;
  bottom: 0;
  display: block;
  width: 70%;
  height: 90%;
  border-radius: 20px;
}
.card-stack {
  background-image:url('../img/blackcard.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  position: absolute;
  opacity: 1;
  bottom: 0;
  display: block;
  width: 70%;
  height: 90%;
  border-radius: 20px;
  border: 1px solid #333;
}
.card-stack.slide {
  opacity: 0;
}

.card-stack.left.slide {
  left: -100vw !important;
}
.card-stack.right.slide {
  right: -100vw !important;
}

.card-stack:nth-child(2) {
  right: 2px;
  left: -4px;
  top: 2px;
  z-index: 2;
  transition: left 2s ease .8s, opacity 2s ease-out 2s;
}


.card-stack:nth-child(3) {
  right: 4px;
  top: 4px;
  z-index: 4;
  transition: right 2s ease 1s, opacity 2s ease-out 2s;
}

.card-stack:nth-child(4) {
  right: 6px;
  left: -8px;
  top: 6px;
  z-index: 6;
  transition: left 2s ease 1s, opacity 2s ease-out 2s;
}

.card-stack:nth-child(5) {
  right: 8px;
  top: 8px;
  z-index: 8;
  transition: right 2s ease 1.2s, opacity 2s ease-out 2s;
}

.card-stack:nth-child(6) {
  right: 10px;
  left: -12px;
  top: 10px;
  z-index: 10;
  transition: left 2s ease 1.2s, opacity 2s ease-out 2s;
}


#czarModal {
    background: rgba(0, 0, 0, .6);
}

#czarModal .modal-dialog .modal-content .modal-header {
    background: rgba(255, 255, 255, 1) !important;
}

#czarModal .modal-dialog .modal-content .modal-footer {
    background: rgba(255, 255, 255, 1) !important;
}