$blue: #3E7293;
$orange: #F4781F;
$shadow: 0px 5px 3px #454545;
$header-font: 'Courgette', cursive;
$radius: 8px;

.nav-tabs li.active a:link,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:visited {
  background-color: $blue;
  color:#fff;
}

.nav-tabs li a{
  color:#000;
}