<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cards For Humanity</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-tour.min.css">
    
    <link href="https://fonts.googleapis.com/css?family=Courgette|Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/emojionearea.min.css">

    <link rel="stylesheet" href="css/common.css">

    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <!--  Navigation  -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="image/cfhlogo.png" alt=""></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a onclick="startTour()" href="#">Tour</a></li>
            <li><a href="#">Tweet</a></li>
            <li><a id="abandon-game" href="#">Abandon Game</a></li>
            <li><a href="#" class="btn-donate">Donate</a></li>
          </ul>
        </div>
      </div>
    </nav>

<!--  ChatBox  -->
   <div class="chatbox">
    <div class="chat-header">
      <h3>ChatBox</h3>
      <fa class="fa-chevron-down fa" id="closeChat"></fa>
      <fa class="fa-chevron-up fa" id="openChat"></fa>
    </div>
    <div class="chat-content">
      <div class="chat">
        <div class="chat-meta">
          <img src="img/N04.png"> Jed <br> Jan 21, 7:02AM
        </div>
        <div class="clearfix"></div>
        <div class="chat-message">Hello</div>
      </div>
      <div class="chat">
        <div class="chat-meta">
          <img src="img/N04.png"> Dingle Dangle <br> Jan 21, 7:02AM
        </div>
        <div class="clearfix"></div>
        <div class="chat-message">This game is interesting</div>
      </div>
      <div class="chat">
        <div class="chat-meta">
          <img src="img/N04.png"> Jed <br> Jan 21, 7:02AM
        </div>
        <div class="clearfix"></div>
        <div class="chat-message">Hello</div>
      </div>
      <div class="chat">
        <div class="chat-meta">
          <img src="img/N04.png"> Dingle Dangle <br> Jan 21, 7:02AM
        </div>
        <div class="clearfix"></div>
        <div class="chat-message">This game is interesting</div>
      </div>
    </div>
     <div class="input-field emoji-picker-container">
       <input type="text" class="form-control" id="chatInput" placeholder="Type a message">
     </div>
   </div>
    
    <section class="game-load section">
      <div class="container">
       <div class="row">
        
         <div id="player-section" class="col-md-2">
          
           <div id="player-container" ng-repeat="player in game.players" style="background-color: #7CE4E8">
             <div id ="above-czar-container">
               <div id="avatar_">
                 <img src="img/N04.png">
               </div>
               <div id="player-container-inner">
                 <div id="player-name"><h4>Insulated Mustard</h4></div>
                 <div id="player-score"><h2>0/5</h2></div>
                 <div ng-show="isPlayer($index)" id="player-star">
                   <img src="img/11.png"/>
                 </div>
               </div>
             </div>
           </div>

           <div id="player-container" ng-repeat="player in game.players" style="background-color: #7CE4E8">
             <div id ="above-czar-container">
               <div id="avatar_">
                 <img src="img/N04.png">
               </div>
               <div id="player-container-inner">
                 <div id="player-name"><h4>Aggressive Pie</h4></div>
                 <div id="player-score"><h2>0/5</h2></div>
                 <div ng-show="isPlayer($index)" id="player-star">
                   <img src="img/11.png"/>
                 </div>
               </div>
             </div>
           </div>
           
         </div>
        
         <div class="col-md-10">
           <div class="top-bar row">
             <div class="col-md-3">
               <div class="timer">
                 <div class="number">7</div>
                 <span class="num-info">Time Remaining</span>
               </div>
             </div>
             
             <div class="col-md-9">
               <div class="question">
                 <div class="q-header">Finding Players</div>
                 <div class="text-center">
                   <span class="q-players">1/6 <br> Players(s)</span>
                   <span>
                     <img class="q-spinner" src="img/loader.gif" alt="">
                   </span>
                   <a href="#" class="btn-donate q-btn">Invite Players</a>
                 </div>
               </div>
               
             </div>
           </div>
           
           <div class="how-to-play">
               <h3 class="heading">How to Play</h3>
               <div class="row">
                 <div class="col-sm-6 col-md-3">
                   <div class="card-bg" style="background-image: url('image/card1.jpg')">
                     <div class="number">1</div>
                     <div class="steps">
                       3 - 12 Players can play. Each player begins with, and will always have, 10 white answer cards.
                     </div>
                   </div>
                 </div>
                 <div class="col-sm-6 col-md-3">
                   <div class="card-bg" style="background-image: url('image/card2.jpg')">
                     <div class="number">2</div>
                     <div class="steps">
                       For each round, one player is randomly chosen as the Card Czar.
                     </div>
                   </div>
                 </div>
                 <div class="col-sm-6 col-md-3">
                   <div class="card-bg" style="background-image: url('image/card3.jpg')">
                     <div class="number">3</div>
                     <div class="steps">
                       Everyone else answers the black question card by clicking on the answer card they want to use.
                     </div>
                   </div>
                 </div>
                 <div class="col-sm-6 col-md-3">
                   <div class="card-bg" style="background-image: url('image/card4.jpg')">
                     <div class="number">4</div>
                     <div class="steps">
                       The Card Czar then picks a favorite answer, and whoever played that answer wins the round.
                     </div>
                   </div>
                 </div>
               </div>
           </div>
         </div>

       </div>
      </div>
    </section>
    

    <!--  Footer  -->
    <footer>
      <div class="container text-center">
        <p>
          Legal stuff: This game is based on the <a class="orange-text" href="#">Cards Against Humanity</a> card game, which is CC licensed (BY-NC-SA). Cards for Humanity is not affiliated with Cards Against Humanity. In complying with the Creative Commons license of the Cards Against Humanity card game, all proceeds from donations go directly to charity, as managed by crowdrise.
        </p>
        <p class="github-foot">
          <img src="image/github.png" alt="github"> <a href="#">Privacy Policy</a>
        </p>
      </div>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-tour.min.js"></script>
    <script src="js/emojionearea.min.js"></script>
    
    <script src="js/main.js"></script>
    <script>
      
    </script>
    <script>
      
    </script>
    
  </body>
</html>
